<div class="container-lg">
    <div [ngClass]="{'blur-background': isModalOpen}">
    <p class="fs-4" (click)="goBack()">
        <span role="button"><<< Voltar</span>
    </p>
    <div *ngIf="!loading; else otherLoading" class="pedido-container">
        <div class="d-flex justify-content-between border-black border-bottom">
            <h2>Pedido Troca #{{ pedidoTrocaDetail.id }}</h2>
            <span><strong class="fw-bold">Data Pedido:  </strong>{{pedidoTrocaDetail.data_criacao}}</span>
            <p>{{ pedidoTrocaDetail.status.replace("_"," ") }}</p>
        </div>
        <div class="pedido-section">
            <h3  class="fw-bold">Cliente <span class="fw-normal">{{ pedidoTrocaDetail.cliente_nome }}</span></h3>
        </div>
        <div class="pedido-section">
            <h3 class="fw-bold">Itens do Pedido</h3>
            <div *ngFor="let item of pedidoTrocaDetail.itens" class="item">
              <img [src]="item.imagem" alt="{{ item.titulo }}" class="item-imagem">
              <div class="item-detalhes">
                <p><strong>Produto:</strong> {{ item.titulo }}</p>
                <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
                <p><strong>Preço Unitário:</strong> {{ item.preco | currency:'BRL':'symbol':'1.2-2' }}</p>
                <p><strong>Total:</strong> R$ {{ item.preco * item.quantidade | currency:'BRL':'symbol':'1.2-2' }}</p>
              </div>
            </div>
          </div>
      
        <div class="pedido-section">
          <h3  class="fw-bold">Detalhes do Pedido</h3>
          <p><strong>Valor Total:</strong> {{ pedidoTrocaDetail.valor_total | currency:'BRL':'symbol':'1.2-2' }}</p>
        </div>

        <div *ngIf="!errorStatus && !success; else other">
            <div *ngIf="pedidoTrocaDetail.status === 'TROCA_SOLICITADA'"class="actions d-flex justify-content-end">
                <button id="btn-rejeitado" class="btn btn-danger me-3" (click)="changeStatus('3')">Troca Rejeitada</button>
                <button id="btn-aprovado" class="btn btn-primary" (click)="changeStatus('2')">Troca Aprovada</button>
            </div>
            <div *ngIf="pedidoTrocaDetail.status === 'TROCA_APROVADA'"class="actions d-flex justify-content-end">
                <button id="btn-em-troca" class="btn btn-primary" (click)="changeStatus('4')">Em Troca</button>
            </div>
            <div *ngIf="pedidoTrocaDetail.status === 'EM_TROCA'"class="actions d-flex justify-content-end">
                <button id="btn-recebida" class="btn btn-primary" (click)="changeStatus('5')">Troca Recebida</button>
            </div>
            <div *ngIf="pedidoTrocaDetail.status === 'TROCA_RECEBIDA'"class="actions d-flex justify-content-end">
                <button id="btn-finalizada" class="btn btn-primary" (click)="openModal()">Troca Finalizada</button>
            </div>
        </div>
    </div>
    <ng-template #other>
        <div class="actions d-flex justify-content-end">
            <div *ngIf="success">
                <span>Operação Realizado com Sucesso</span>
                 <button id="btn-ok" class="ms-3 btn btn-secondary" (click)="this.success = false; madeReload();">OK</button>
            </div>
            <div *ngIf="errorStatus">
                <span>Houve um erro ao alterar o status</span>
                 <button class="ms-3 btn btn-secondary" (click)="this.errorStatus = false; madeReload();">OK</button>
            </div>
        </div>
    </ng-template>
</div>
<div *ngIf="!loading" class="modal fade show d-block" tabindex="-1" [ngClass]="{'d-none': !isModalOpen}">
    <div *ngIf="!successTroca; else otherModal" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Selecione os Produtos a Retornar ao Estoque</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <ul>
                <li *ngFor="let item of pedidoTrocaDetail['itens']" class="row align-items-center mb-3">
                    <img [src]="item.imagem" alt="placeholder" style="width: 150px; height: 150px; object-fit: cover;"/>
                    <span class="col">{{ item.titulo }}</span> 
                    <div class="col row align-items-center">
                        <button class="btn btn-secondary col" (click)="removeItemUnit(item.produtoId)" [disabled]="getItemUnit(item.produtoId) === 0">-</button>
                        <p class="col text-center">{{getItemUnit(item.produtoId)}}</p>
                        <button class="btn btn-secondary col" (click)="addItemUnit(item.produtoId)" [disabled]="getItemUnit(item.produtoId) === item.quantidade">+</button>
                    </div>
                    <span class="col text-end"> R{{ item.preco | currency: 'USD' }}</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          <button 
            type="button" 
            class="btn btn-primary" 
            (click)="finalizarTroca()"
            [disabled]="loadingTroca"
          >
            {{loadingTroca ? "Carregando" : "Devolver"}}
          </button>
        </div>
      </div>
    </div>
    <ng-template #otherModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <p class="mb-4">Operação realizada com sucesso!</p>
                        <button
                        class="btn btn-secondary btn-md"
                        (click)="confirmSuccess()"
                        >
                        OK
                        </button>
                </div>
                <div class="modal-footer"></div>
              </div>
        </div>
    </ng-template>
  </div>
<ng-template #otherLoading>
    <div>Carregando...</div>
</ng-template>

