<div class="container-lg">
  <h1>Meus Clientes</h1>
  <form class="painel mb-4" [formGroup]="customerForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-1">
        <label for="cliente_id" class="form-label">Cliente ID</label>
        <input
          type="number"
          class="form-control"
          id="cliente_id"
          inputmode="numeric"
          formControlName="cliente_id"
        />
      </div>
      <div class="col-md-3">
        <label for="nome_completo" class="form-label">Nome Completo</label>
        <input
          type="text"
          class="form-control"
          id="nome_completo"
          formControlName="nome_completo"
          [mask]="'S*'"
          [patterns]="customPatterns"
        />
      </div>
      <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          [mask]="'S*'"
          [patterns]="customPatternsEmail"
        />
      </div>
      <div class="col-md-2">
        <label for="data_nascimento_min" class="form-label"
          >Data Nascimento Min.</label
        >
        <input
          type="date"
          class="form-control"
          id="data_nascimento_min"
          formControlName="data_nascimento_min"
          max="2099-12-31"
        />
      </div>
      <div class="col-md-2">
        <label for="data_nascimento_max" class="form-label"
          >Data Nascimento Max.</label
        >
        <input
          type="date"
          class="form-control"
          id="data_nascimento_max"
          formControlName="data_nascimento_max"
          max="2099-12-31"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
        <label for="cpf" class="form-label">CPF</label>
        <input
          type="text"
          class="form-control"
          id="cpf"
          formControlName="cpf"
          inputmode="numeric"
          mask="000.000.000-00"
        />
      </div>
      <div class="col-md-2">
        <label for="telefone" class="form-label">Telefone</label>
        <input
          type="text"
          class="form-control"
          id="telefone"
          formControlName="telefone"
          mask="(00) 000000000"
        />
      </div>
      <div class="col-3">
        <label class="form-label">Gênero</label>
        <div class="d-flex align-items-center gap-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="genero_masc"
              (change)="onCheckboxChangeGenero('M', $event)"
              [checked]="isCheckedGenero('M')"
            />
            <label class="form-check-label" for="genero_masc"> Masculino </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="generoFem"
              (change)="onCheckboxChangeGenero('F', $event)"
              [checked]="isCheckedGenero('F')"
            />
            <label class="form-check-label" for="generoFem"> Feminino </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="generoOther"
              (change)="onCheckboxChangeGenero('O', $event)"
              [checked]="isCheckedGenero('O')"
            />
            <label class="form-check-label" for="generoOther"> Outro </label>
          </div>
        </div>
      </div>
      <div class="col-md-3 ms-4">
        <label class="form-label">Status</label>
        <div class="d-flex align-items-center gap-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              data-testid="btn-status-ativo"
              id="status_ativo"
              (change)="onCheckboxChangeAtivo('true', $event)"
              [checked]="isCheckedAtivo('true')"
            />
            <label class="form-check-label" for="status_ativo"> Ativo </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="status_inativo"
              (change)="onCheckboxChangeAtivo('false', $event)"
              [checked]="isCheckedAtivo('false')"
            />
            <label class="form-check-label" for="status_inativo">
              Inativo
            </label>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-end justify-content-end">
        <button data-testid="btn-submit-buscar" type="submit" class="btn btn-primary">Buscar</button>
        <button
          type="button"
          class="btn btn-secondary ms-3"
          (click)="onClear()"
        >
          Limpar
        </button>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Nome Completo</th>
        <th scope="col">Data Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Genero</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="!loading && !error && customersList.length else other">
      <tr *ngFor="let customer of customersList; index as i">
        <td>{{ customer.id }}</td>
        <td>{{ customer.nome_completo }}</td>
        <td>{{ customer.data_nascimento }}</td>
        <td>{{ customer.cpf | mask: '000.000.000-00'}}</td>
        <td>{{ customer.genero === 'M' ? 'MASCULINO': customer.genero === "F" ? "FEMININO" : "OUTRO"  }}</td>
        <td>{{ customer.telefone | mask: '(00) 000000000'}}</td>
        <td>{{ customer.email }}</td>
        <td>{{customer.ativo ? "Ativo" : "Inativo"}}</td>
        <td><button [id]="'visualizar-cliente-'+i" class="btn btn-primary" (click)="goToViewCustomer(customer.id)">Visualizar</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #other class="painel">
    <tr *ngIf="loading" class="painel">
      <td colspan="10" class="py-5 text-center fw-bold h4">Carregando...</td>
    </tr>
    <tr *ngIf="error"class="painel">
      <td colspan="10" class="py-5 text-center fw-bold h4">Houve erro ao carregar os clientes. :(</td>
    </tr>
    <tr *ngIf="!loading && !error && customersList.length === 0"class="painel">
      <td colspan="10" class="py-5 text-center fw-bold h4">Não foi encontrado nenhum cliente</td>
    </tr>
  </ng-template>
</div>
